<section class="gateway-list">
  <div class="gateway-list__table-title">
    <div class="gateway-list__table-title__text-box">
      <h2>Gateway list</h2>
    </div>

    <div class="gateway-list__table-title__action-btn">
      <button class="gateway-list__table-title__action-btn__btn" mat-icon-button color="primary"
              (click)="onAction(TableAction.NEW)"
              aria-label="Add new gateway"
              matTooltip="Add gateway">
        <mat-icon>add</mat-icon>
      </button>

      <button class="btn-hide" mat-icon-button color="primary" aria-label="Update gateway list"
              (click)="onUpdate()"
              matTooltip="Update list">
        <mat-icon>update</mat-icon>
      </button>

      <button *ngIf="selection.selected.length > 1" class="gateway-list__table-title__action-btn__btn" mat-icon-button
              (click)="onDeleteGroup()"
              color="primary"
              aria-label="Delete more than one gateway"
              matTooltip="Delete group">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <span class="gateway-list__table-info" *ngIf="selection.selected.length">{{selection.selected.length}} selected element</span>

  <table mat-table [dataSource]="dataSource" class="w-100 gateway-list__table mat-elevation-z8">
    <ng-container *ngFor="let column of columns;let i = index" [matColumnDef]="column.field">
      <ng-container [ngSwitch]="column.field">
        <ng-container *ngSwitchCase="TableField.SELECT">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox color="primary"
                          (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel(i)">
            </mat-checkbox>
          </th>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <th mat-header-cell *matHeaderCellDef class="gateway-list__table__header"> {{column.name}} </th>
        </ng-container>
      </ng-container>

      <ng-container [ngSwitch]="column.field">
        <ng-container *ngSwitchCase="TableField.SELECT">
          <td mat-cell *matCellDef="let row">
            <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(i,row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container *ngSwitchCase="TableField.PERIPHERAL_DEVICES">
          <td mat-cell *matCellDef="let element" class="gateway-list__table__data">
            {{element[column.field].length | peripheralList}}
            <ng-container *ngIf="element[column.field].length > 0;else notPeripheralYet">
              <button class="gateway-list__table__data__btn-list" [matMenuTriggerFor]="peripheralList" mat-icon-button
                      (click)="sendToSearchPeripheral(element)"
                      color="primary"
                      aria-label="List all peripheral devices"
                      matTooltip="List peripheral">
                <mat-icon>list</mat-icon>
              </button>

              <mat-menu #peripheralList="matMenu">
                <ng-container *ngIf="!loadingPeripheralsData;else loading">
                  <mat-selection-list [multiple]="false">
                    <mat-list-option *ngFor="let peripheral of peripheralListByGateway" [value]="peripheral._id">
                      {{peripheral.vendor}}
                    </mat-list-option>
                  </mat-selection-list>
                </ng-container>
              </mat-menu>
            </ng-container>
          </td>
        </ng-container>

        <ng-container *ngSwitchCase="TableField.ACTIONS">
          <td mat-cell *matCellDef="let element" class="gateway-list__table__data">
            <button class="gateway-list__table__data btn-hide--show" mat-icon-button color="primary"
                    aria-label="List buttom crud"
                    matTooltip="Editar gateway"
                    (click)="onAction(TableAction.UPDATE, element)">
              <mat-icon>edit</mat-icon>
            </button>

            <button class="gateway-list__table__data btn-hide--show" mat-icon-button color="primary"
                    aria-label="Delete buttom crud"
                    matTooltip="Eliminar gateway" (click)="onAction(TableAction.DELETE, element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>


        <ng-container *ngSwitchDefault>
          <td mat-cell *matCellDef="let element" class="gateway-list__table__data"> {{element[column.field]}} </td>
        </ng-container>
      </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row class="gateway-list__table__row-data" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <ng-container [ngTemplateOutlet]="pleaseAddOne" *ngIf="dataSource?.length === 0"></ng-container>
  <ng-container [ngTemplateOutlet]="loading" *ngIf="loadingData"></ng-container>
</section>

<ng-template #pleaseAddOne>
  <h3 class="text-center">Please add almost one gateway.</h3>
</ng-template>

<ng-template #notPeripheralYet>
  <span>Not associated peripheral yet.</span>
</ng-template>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
